// mixins

// Flexbox

@mixin flexy ($flx: flex, $dir) {
  display: $flx;
  flex-direction: $dir;
}

// Borders

@mixin brdr ($side: all, $size, $type: solid, $color) {
  @if $side == all {
    border: $size $type $color;
  }
  @else if $side == left{
    border-left: $size $type $color;
  }
  @else if $side == top {
    border-top: $size $type $color;
  }
  @else if $side == right {
    border-right: $size $type $color;
  }
  @else if $sice == bottom {
    border-bottom: $size $type $color;
  }
}

// Media Queries

@mixin mq ($break-point) {
  @if $break-point == $break-sm {
    @media (min-width: $break-point){
      // small devices
      @content;
    }
  }
  @else if $break-point == $break-lg {
    @media (min-width: $break-point) {
      // large devices
      @content;
    }
  }
}
