// Links, Images, Headlines, Nav Items

// Nav items
%nav__item {
  width: 100%;
  padding: 15px;
  border-radius: 10px;

  > * { // Targets ony direct children
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}

// Links

%link {
  text-decoration: none;
  color: $secondary-color;
}

// Headlines
%headlines-general {
  color: gray;
  font-weight: 300;
}

%headlines-primary {
  color: $primary-color;
  padding-left: 25px;
  font-weight: 600;
  width: 75%;
  line-height: normal;
}
