// Variables

// Colors
$white: #FFF;
$primary-color: #4ACBB4;
$secondary-color: #42B5FF;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600|Open+Sans:300,300i');
$font-stack-primary: 'Montserrat', sans-serif;
$font-stack-secondary: 'Open Sans', sans-serif;
