
// Uses the styling map created in _variables to generate all button
// colors and styles
@each $style, $color in $button-styling {
  .btn--#{$style} {
    background-color: $color;
    box-shadow: none;
    outline: none;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-size: .85em;
    color: $white;
  }
}

@include mq ($break-sm) {
  @each $style, $color in $button-styling {
    .btn--#{$style}.theme__colors {
      margin: 10px 10px;
      width: 125px;
      flex: .25;
    }
  }

  /* resets submit buttons styles to prevent it from taking styles from the button section */
  .btn--default[type="submit"] {
    width: auto;
    flex: none;
  }
}
