.form {
  @include flexy($dir: column);

  .img--avatar {
    @extend %img-av;
  }

  .form__label--hidden {
    display: none;
  }

  .form__input {
    margin: 15px auto;
    padding: 10px;
    width: 90%;
    border: none; // To remove the default border
    border-bottom: 5px solid $primary-color;
    box-shadow: none;
    outline: none;
  }
}

@include mq ($break-sm) {
  .img--avatar {
    width: 14vw;
  }
}
