
@each $class, $color in $grid-styling {
  .#{$class} {
    @include flexy($dir: column);
  }
}

@each $class, $color in $grid-styling {
  .#{$class}.theme__colors {
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px auto;
    background-color: $color;
  }
}

.grid__row {
  margin: 20px 0;
}

@include mq ($break-sm) {
  @each $class, $color in $grid-styling {
    .#{$class}.theme__colors {
      flex: auto;
      margin: 5px 10px;
      justify-content: center;
    }
  }

  @each $class, $color in $grid-styling {
    .#{$class} {
      @include flexy($dir: row);
    }
  }

  .grid__row:last-of-type {
    width: 75%;
    margin: auto;
  }

  .grid__row:nth-of-type(1) {
    @include flexy($dir: row);
    justify-content: space-between;
    width: 85%;
    & > * {
      display: inline-block;
    }
    .nav {
      padding-top: 52px;
      margin: 0;
    }
  }

  .grid__col--8 {
    width: 75%;
    margin: auto;
    padding-right: 50px;
    .card {
      width: 80%;
    }
  }

  .grid__col--4 {
    width: 35%;
    .form {
      width: 100%;
    }
  }

  .grid__col--6,
  .grid__col--12 {
    margin: auto;
  }
}
