// Styling for Header and Navigation section

ul {
  list-style: none;
  text-align: center;
  margin-bottom: 100px; // Pushes content directly below down
  padding: 0;
  .nav__item {
    @extend %nav__item;
  }
}

@include mq ($break-sm) {
  ul {
    text-align: inherit;
  }
  .nav .nav__item {
    display: inline-block;
    width: auto;
  }
}

// Test
