* {
  box-sizing: border-box;
}

.container {
  @include flexy($dir: column);
  width: 85%;
  margin: 0 auto 50px;
  font-family: $font-stack-primary;
  font-size: .85em;
  line-height: 1.5;
  .link {
      align-self: center;
  }
}

@media (min-width: 1400px) {
  .grid__row {
    display: flex;
  }
}
